/*Menu e Footer*/
.logo figure {
    padding: 0px;
}

.logo img {
    width: 148px;
    padding: 10px;
}

.menu ul{
    list-style-type: none; 
    /**removes the bullets. A navigation bar does not need list markers**/
    overflow: hidden;
    position: -webkit-sticky; /**Safari**/
    position: sticky; /**create a sticky navbar**/
    top: 0;
    text-align: center;
}

.menu li{
    display: inline-block;
}

.menu li a{
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #F2D8D8;
}

.rodape{
    background-color: #F2D8D8;
    padding: 30px 40px 30px 40px;
    text-align: center;
}

.dados{
    display: inline-block;
    padding-inline: 150px;
}

.direitos{
    margin: 10px 0px 10px 0px;
    text-align: center;
    list-style-type: none; 
}


/* Página de Recados*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #D8D8D8 ;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #F2D8D8;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section h2{     
    color: white;
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

/*Página do Obrigado*/

.main{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #F2D8D8;
   flex-direction: column;
}
.text{
    font-size: 45px;
    color:blue;
    margin-bottom: 30px;
}
.paragrafo{
    color:blue;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: blue;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}
.main {
    background-color: #D8D8D8;
}

