/*Menu e Footer*/
.logo img {
    width: 130px;
    padding: 0px 16px;
}

.header_geral{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
}

.sigla_casal {
    padding: 40px 16px;
}

.menu ul {
    list-style-type: none; 
    /**removes the bullets. A navigation bar does not need list markers**/
    overflow: hidden;
    position: -webkit-sticky; /**Safari**/
    position: sticky; /**create a sticky navbar**/
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 16px;
    margin: 5px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #F2D8D8;
}

.rodape {
    background-color: #F2D8D8;
    padding: 30px 40px 30px 40px;
    text-align: center;
}

.dados {
    display: inline-block;
    padding-inline: 150px;
}

.direitos {
    margin: 10px 0px 10px 0px;
    text-align: center;
    list-style-type: none; 
    text-decoration: none;
    color: black;
}

a { 
    color: inherit; 
} 

/* Página de Confirmação de Presença */
.main-presenca {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F2D8D8;
    flex-direction: column;
    padding: 10px 45px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main-presenca h1 {
    color: white;
    font-size: 2.5rem;
    margin: 2rem;
}

.main-presenca form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-presenca label {
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

.main-presenca input, .main-presenca select {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

.main-presenca input:focus, .main-presenca select:focus {
    border-radius: 16px;
}

.main-presenca input[type="submit"] {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
}

.main-presenca input[type="submit"]:hover {
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

/* Página de Recados*/
.main_recadosnoivos {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #D8D8D8;
}
.section_recadonoivos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #F2D8D8;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.section_recadonoivos h2{     
    color: white;
    font-size: 2.5rem;
    margin: 2rem;
}
.section_recadonoivos form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form_recadonoivos label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
.form_recadonoivos input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
.form_recadonoivos input:focus{
    border-radius: 16px;
}
.form_recadonoivos textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
.form_recadonoivos textarea:focus{
    border-radius: 16px;
}
.form_recadonoivos button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}
.form_recadonoivos button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

/*Página do Obrigado*/
.main_obrigado{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #F2D8D8;
   flex-direction: column;
}
.text{
    font-size: 45px;
    color:blue;
    margin-bottom: 30px;
}
.paragrafo{
    color:blue;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: blue;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}
.main_obrigado {
    background-color: #D8D8D8;
}

/*Página Sobre o Casal*/
.casal_capa img {
    width: 100%;
    height: 600px;
}

.h2-sobrecasal1 {
    padding: 20px;
    text-align: center;
}

.text_sobreosnoivos {
    text-align: center;
    margin: 40px;
}

.text_sobreosnoivos h2 {
    padding: 40px;
}

.p-sobrecasal {
    margin: 0px 200px 0px 200px;
}

.h2-sobrecasal2 {
    padding-bottom: 60px;
    text-align: center;
}

.gallery-sobrecasal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw;
    padding:  0 5vw;
}

.gallery-items-sc {
    width: 340px;
    height: 300px;
    border: 10px solid #f5f5f5;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1px;
    filter: grayscale(100%);
    transition: transform  0.5s linear;
}

.gallery-items-sc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items-sc:hover {
    transform: scale(1.3);
    filter: none;
}

.h2-sobrecasal3 {
    padding: 60px 0px 30px 0px;
    text-align: center;
}

.playlist-sobrecasal {
    padding: 0px 500px 0px 500px;
    margin-bottom: 30px;
}

/*Página Home*/
.contagem_regressiva h1 {
    text-align: center;
    margin: 40px;
    }

.contagem_regressiva p {
    text-align: center;
    margin: 40px;
}

.sobre_a_cerimonia h2 {
    text-align: center;
    margin: 40px; 
}

.sobre_a_cerimonia p {
    text-align: center;
    margin: 40px;
}

.casal_capa img {
    width: 100%;
    height: 600px;
}

.mapa iframe {
   width: 100%; 
   height: 450px;
   box-shadow: 0, 0, 3px, #999;

}

.countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: rgb(20, 20, 20);
    gap: 5px;
    margin: 40px;
}

.tittle {
    grid-column: 4 span;
    text-align: center;
    font-size: 22px;
    margin: 10px;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.value {
    font-size: 30px;
    font-weight: 700;
}


/*Blog*/
.body-blog {
    background-color: gray;
  }

.posts h1 {
    text-align: center;
    margin: 40px;
    }

.posts p {
    text-align: center;
    margin: 40px;
    }

.sobre h1 {
    text-align: center;
    margin: 40px;
    }

.sobre p {
    text-align: center;
    margin: 40px;
    }

.contato h1  {
    text-align: center;
    margin: 40px;
    }

.contato   {
    text-align: center;
    margin: 40px;
    }

.posts, .sobre, .contato{
    border-radius: 20px;
    box-shadow: 2px 2px 15px #888888;
    margin: 1em;
    padding: 1em;
}

/* Lista de Presentes */
/* Cabeçalho */
header {
    color: #040D12;
    padding: 2px;
    text-align: center;      
}

/* Grid de Produtos */
.lista-container {
    background-color: #FFF6F4;
    min-height: 60vh;
    padding: 50px;
    text-align: center;
}

.lista-products-container {
    max-width: 1200px;
    margin: 0 auto; 
}

.lista-card {
    width: 40%;
    text-align: center;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
    align-items: center; 
}
    

.lista-card:hover {
    background-color: #fff;
    box-shadow: 1px 1px;  
}

.lista-product-image {
    
    height: 300px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;  
}

.lista-product-image img {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


h3 {
    margin-bottom: 10px;
    color: #040D12;
    text-align: center;
    padding-left: 7px;
    font-size: 24px;
}

.lista-card p {
    margin-bottom: 10px;
    text-align: center;
    align-items: center;  
}

.lista-bold {
    font-weight: bold;
}

.lista-btn {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ED7B7B;
    color: #fff;
    padding: 17px 7px;
    border-radius: 25px;
    transition: 0.5s; 
}

.lista-btn:hover {
    background-color: grey;
    box-shadow: 3px 3px #867070;
}

.lista-btn-top {
    background-color: #fff;
     transition: 0.5s;
     color: black;
     text-decoration: none;
     border: 12px;
     border-radius: 90px;
     float: right;
     padding: 10px;
}

.lista-btn-top:hover {
    background-color: green;
    color: #fff;   
}